
#cartao{
    display: flex;
    border-radius: 2%;
    width: 300px;
    height: 400px;
    align-items: center;
    background-color: #ebe7e7;
	flex-direction: column;
	padding: 10px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: #00000059 3px 3px 4px;
}

.grey-text{
    color: grey;
    
}

.foto-pessoa{
    display: flex;
    width: 100px;
    border-radius: 50%; 
}

hr{
    margin-top: 50px;
    width: 107%;
}

.informacoes-da-pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 30px;
}



.informacoes-insta {
    display: flex;
    font-size: 10px;

}



li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

